@using Domain
@model PiShop.Models.CartIndexViewModel

<head>
    <meta name="viewport" content="width=device-width" , initial-scale=1>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/shopping-cart.css" />
    @*<script src='https://cdnjs.cloudflare.com//ajax/libs/jquery/3.1.0/jquery.min.js'></script>*@
    <meta charset="UTF-8">
    <script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="popup-cart">
        @*<form asp-controller="Cart" asp-action="ToCheck" id="popupCartForm" method="get">*@
        @if (Model?.Cart != null && Model.Cart?.Lines?.Count() != 0)
        {<!-- Title -->
            <div class="overflow2">
                <div class="cart">
                    <a class="popup-cart-close" href="#"> <img src="~/images/krestik.jpg" alt=""></a>
                    <div class="shopping-cart">

                        <div class="cart_title">Ваша корзина</div>
                        <div class="title">
                            <div class="column">
                                <div class="textColumn textColumnName"> Наименование </div>
                                <div class="textColumn textColumnQuantity"> Количество </div>
                                <div class="textColumn textColumnPrice"> Цена </div>
                                <div class="textColumn textColumnAmount"> Сумма </div>
                            </div>
                        </div>
                        @foreach (CartLine cartLine in Model.Cart.Lines)
                        {
                        <div class="item">
                            <div class="buttonsCart">
                                @Html.ActionLink("", "RemoveLine", "Cart",
new { id = cartLine.productCart.Id, size = cartLine.productCart.Size }, new { @class = "delete-btn" } )
                            </div>
                            <div class="image"> <img src="~/images/Каталог/Girls/@cartLine.productCart.Address" class="imageShoping-cart" height="110" alt="" /> </div>

                            <div class="CartMobile">
                                <div class="description">
                                    <span>
                                        <a class="compItem ColourChangeModal colorGrey">@cartLine.productCart.Name   @cartLine.productCart.Size</a>
                                    </span>
                                </div>
                                <div class="quantity">
                                    <a class="minus-btn buttonStyleCart  button" href="/Cart/RemoveOneProductToCart?id=@cartLine.productCart.Id&size=@cartLine.productCart.Size"><img src="~/images/Корзина/minus.svg" /></a>
                                    <input type="text" name="name" value="@cartLine.Quantity">
                                    <a class="plus-btn buttonStyleCart  button" href="/Cart/AddToCart?id=@cartLine.productCart.Id&size=@cartLine.productCart.Size"><img src="~/images/Корзина/plus.svg" /></a>
                                </div>
                                <div class="size AdaptiveMobile">
                                    <div class="PriceW AdaptiveMobile">Цена</div>
                                    <div class="priceCart AdaptiveMobile">@cartLine.productCart.Price руб</div>
                                </div>
                                <div class="size">
                                    <div class="total-priceW">Итого</div>
                                    <div class="total-price">@(cartLine.productCart.Price * cartLine.Quantity)  руб</div>
                                </div>
                            </div>
                          
                        </div>
                        }
                        <div class="Total">
                            <div class="box">

                                <div class="ContainerTotal-total-price"> Итого к оплате: <a class="total-total-price">@Model.Cart.ComputeTotalValueWithDelivery() руб</a> </div>
                                <div class="ContainerTotal-Sale"> Скидка: <a class="total-Sale">@Model.Cart.CalcSale() руб</a> </div>
                                <div class="ContainerTotal-total-price-withSale"> Итого со скидкой: <a class="total-priceWithSale">@Model.Cart.ComputeTotalValueWithSale() руб</a> </div>
                                <div class="bottons">  <a class="buttonOrder" href="/Cart/Checkout/">Оформить заказ</a> </div>
                            </div>
                            <div class="cond ">
                                @*<div class="cond_title"> ВОЗМОЖНЫЕ ВАРИАНТЫ ОПЛАТЫ </div>
                                <div class="cond_text">
                                    <div class="deliveryСontraction"> Оплата банковской картой </div>
                                </div>
                                <div class="cond_text">
                                    <div class="deliveryСontraction">
                                        <img height="27" width="200" src="~/images/Корзина/cards.jpg">
                                    </div>
                                </div>*@
                                @*<div class="cond_text">
                                    <div class="delivery_item">
                                        <div class="delivery_img"><img src="~/images/point.png" alt=""></div>
                                        <div class="delivery_text">260Р при полной предоплате</div> 
                                    </div>

                                    <div class="delivery_item">
                                        <div class="delivery_img "><img src="~/images/point.png" alt=""></div>
                                        <div class="delivery_text">390Р при предоплате только за доставку, а за товар оплата при получении(почта возьмёт ещё 7% коммиссию за денежный перевод за товар с вас)</div>

                                    </div>*@
                                    @*<div class="deliveryСontraction"> Оплата при получении </div>*@
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="overflow2">
                <div class="cart">
                    <a class="popup-cart-close" href="#"> <img src="~/images/krestik.jpg" alt=""></a>
                    <div class="shopping-cart">

                        <div class="titleEmptyCart">
                            Ваша корзина пуста
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        $(document).ready(function ($) {
            $('.popup-cart-close').click(function () {
                $(this).parents('.popup-cart').fadeOut();
                document.body.style.overflow = "auto";
                return false;
            });
            $(document).keydown(function (e) {
                if (e.keyCode === 27) {
                    e.stopPropagation();
                    $('.popup-cart').fadeOut();
                }
            });
            $('.popup-cart').click(function (e) {
                if ($(e.target).closest('.cart').length == 0) {
                    $(this).fadeOut();
                }

            });

        });
    </script>
    <script type="text/javascript">
        $('.minus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());
            if (value > 0) {
                value = value - 1;
                $.get(this.href, function () {

                    $.get("/Cart/GetQuantity/", function (data) {
                        $('.countDigit').text(data);
                    });

                    $.get("/Cart/CheckSale/", function (data) {
                        $input.val(value);
                        value = parseInt(($this.closest('div').next().children('.priceCart')).text()) * value;
                        ($this.closest('div').next().next().children('.total-price')).text(value + " руб"); //общий счёт для одного товара

                        value = 0;
                        $(".total-price").each(function () {

                            value += parseInt($(this).text());
                        });

                        $('.total-total-price').text(value + " руб");

                        let sale = parseInt(value * 0.1);

                        if (data) {

                            $('.ContainerTotal-Sale').text(" Скидка: " + sale + " руб");

                        }
                        else {
                            $('.ContainerTotal-Sale').text(" Скидка: 0 руб");
                            sale = 0;
                        }
                        var priceWithSale = value - sale;
                        $('.ContainerTotal-total-price-withSale').text(" Итого со скидкой: " + priceWithSale + " руб");

                        



                        //var hhref = "/Cart/ComputeTotalValueWithSale/TotalWithSale?=" + value;
                        //$.get(hhref, function (data) {
                        //    $('.ContainerTotal-total-price-withSale').text(" Итого со скидкой: " + data + " руб");
                        //});

                    });

                });

            }
            else {
                value = 0;
            }
           
        });
    </script>

    <script type="text/javascript">
        $('.plus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());
            if (value < 100) {
                value = value + 1;
                $.get(this.href, function () {

                    $.get("/Cart/GetQuantity/", function (data) {
                        $('.countDigit').text(data);
                    });

                    $.get("/Cart/CheckSale/", function (data) {
                        $input.val(value);
                        value = parseInt(($this.closest('div').next().children('.priceCart')).text()) * value;
                        ($this.closest('div').next().next().children('.total-price')).text(value + " руб"); //общий счёт для одного товара

                        value = 0;
                        $(".total-price").each(function () {

                            value += parseInt($(this).text());
                        });

                        $('.total-total-price').text(value + " руб");

                        let sale = parseInt(value * 0.1);

                        if (data) {
                            
                            $('.ContainerTotal-Sale').text(" Скидка: " + sale + " руб");
                        }
                        else {
                            $('.ContainerTotal-Sale').text(" Скидка: 0 руб");
                            sale = 0;
                        }

                        var priceWithSale = value - sale;
                        $('.ContainerTotal-total-price-withSale').text(" Итого со скидкой: " + priceWithSale + " руб");

                    });

                });
            }
            else {
                value = 100;
            }



            




            

        });
    </script>

    <script type="text/javascript">
        $('.delete-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            $this.closest('div').closest('.item').addClass("displayNone");
            $.get(this.href, function () {
                $.get("/Cart/CheckSale/", function (data) {

                    //$this.closest('div').next().next(). - это карт мобаил   //children('.size').next(). - это сайз суммы
                    var value = parseInt(($this.closest('div').next().next().children('.size').next().children('.total-price').text())); //5
                    var MainPrice = parseInt($('.total-total-price').text());
                    var nextMainPrice = MainPrice - value;
                    $('.total-total-price').text(nextMainPrice + " руб");

                    let sale = parseInt(nextMainPrice * 0.1);

                    if (data) {

                        $('.ContainerTotal-Sale').text(" Скидка: " + sale + " руб");
                    }
                    else {
                        $('.ContainerTotal-Sale').text(" Скидка: 0 руб");
                        sale = 0;
                    }

                    var priceWithSale = nextMainPrice - sale;
                    $('.ContainerTotal-total-price-withSale').text(" Итого со скидкой: " + priceWithSale + " руб");

                    //Sale = data;
                    //$('.ContainerTotal-Sale').text(" Скидка: " + data + " руб");


                    ////$this.closest('div').next().next(). - это карт мобаил   //children('.size').next(). - это сайз суммы
                    //var value = parseInt(($this.closest('div').next().next().children('.size').next().children('.total-price').text())); //5
                    //var MainPrice = parseInt($('.total-total-price').text());
                    //var nextMainPrice = MainPrice - value;
                    //$('.total-total-price').text(nextMainPrice + " руб");

                    //var hhref = "/Cart/ComputeTotalValueWithSale/TotalWithSale?=" + nextMainPrice;
                    //$.get(hhref, function (data) {
                    //    $('.ContainerTotal-total-price-withSale').text(" Итого со скидкой: " + data + " руб");
                    //});

                });
                
                
            });
            



        });
    </script>

    <script type="text/javascript">
        $('.buttonOrder').on('click', function (e) {
            var MainPrice = parseInt($('.total-total-price').text());
            if (MainPrice == 0) {
                e.preventDefault();
            }
        });
    </script>

    

</body>