@using Domain
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Features;
@model Domain.Product
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Neucha|Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="e37eaf24dedcbc1b" /> @*//ssl*@
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://pizhamka-fox.ru/view/viewproduct/@Model.Id" />
    @if (string.IsNullOrEmpty(Model.TitleP))
    {
        @switch (Model.Category)
        {
            case "брюки":
                <title>Шёлковые @Model.Name</title>
                break;
            case "комплект":
                <title>Шёлковый @Model.Name </title>
                break;
            case "флис":
                <title>Флисовая @Model.Name </title>
                break;
            default:
                <title>Шёлковая пижама с принтом @Model.Name.Replace("Пижама", "")</title>
                break;
        }
    }
    else
    {
        <title>@Model.TitleP</title>
    }

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <meta name="description" content="@Model.Description" />
    }
    else
    {
        <meta name="description" content="@Model.Name Шёлковые пижамы с принтом, без увеличения слов, удивят и порадуют любую девушку. Хороший подарок и необыкновенная мечта любой женщины." />
    }
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '760272324774923');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=760272324774923&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    @*<div class="popup-fade">*@
    <header class="header" id="header" style="padding-top: 0px !important;">
        <div class="container">
            <div class="header_inner">
                @*<div class="header_logo">FOX</div>*@
                <a class="popup-cart-open" href="/Cart/Cart"><img class="korzina" src="~/images/Корзина/korzina.jpg" style="display:none" alt="корзина"></a>
                <div id="dialogContentpopupCart" class="modal-dialog"></div>
            </div>
            <div id="dialogContentpopupModalText" class="modal-dialog"></div>
        </div>
    </header>
    <a class="btn btn-add addToCart GoCatalog" href="https://pizhamka-fox.ru/">← Перейти в каталог</a>
    <div class="pop">
        <form asp-controller="Cart" asp-action="AddToCart" id="popupFadeForm" method="get">
            @*<div class="overflow2">*@
            @*<div class="overflow2">*@
            <div class="popupReplace">

                <a class="popup-close" style="top: 0px; right: 0px;" href="https://pizhamka-fox.ru/"> <img src="~/images/krestik.jpg" alt="закрыть окно"></a>

                <div class="item_pizham">

                    <h1 class="info_title AdaptiveDisplay displayNone">@Model.Name</h1>

                    <div class="theFirstBlock">
                        @if (System.IO.File.Exists($"{Environment.CurrentDirectory}/wwwroot/images/Каталог/Girls/{Model.Image2Address}"))
                        {
                            @*<div class="First">
                    <div class="picture Show"><img class="block" src="~/images/Каталог/Girls/@Model.Address" alt=""></div>
                    <div class="pictureSecond Show"><img class="blockSecond" src="~/images/Каталог/Girls/@Model.Image2Address" alt=""></div>
                </div>
                <div class="Second displayNone">
                    <div class="picture NotShow "><img class="block" src="~/images/Каталог/Girls/@Model.Image2Address" alt=""></div>
                    <div class="pictureSecond   NotShow"><img class="blockSecond" src="~/images/Каталог/Girls/@Model.Address" alt=""></div>
                </div>*@
                            <div class="First">
                                <div class="picture Show"><img class="block" src="~/images/Каталог/Girls/@Model.Address" alt="Первое фото пижамы 1"></div>
                                <div class="pictureSecond Show"><img class="blockSecond" src="~/images/Каталог/Girls/@Model.Image2Address" alt="Второе фото пижамы 1"></div>
                            </div>
                            <div class="Second displayNone">
                                <div class="picture NotShow "><img class="block" src="~/images/Каталог/Girls/@Model.Image2Address" alt="Первое фото пижамы 2"></div>
                                <div class="pictureSecond   NotShow"><img class="blockSecond" src="~/images/Каталог/Girls/@Model.Address" alt="Второе фото пижамы 2"></div>

                            </div>
                        }
                        else
                        {
                            <div class="picture First Show"><img class="block" src="~/images/Каталог/Girls/@Model.Address" style="max-height:initial !important;" alt="@Model.Name"></div>@*большая*@
                        }
                        @*<div class="price" style="width:initial;">2000Р</div>*@
                            <div class="priceMain PriceMainDetail " style="margin-top: 35px !important;">
                                @*<div class="newPricePopup"> @Model.Price&#1056;</div>
                                @if (Model.Price < Model.PriceWithoutSales)
                                {
                                    <div class="oldPrice">@Model.PriceWithoutSales&#1056;</div>
                                }*@

                                @if (Model.Price < Model.PriceWithoutSales)
                                {
                                    <div class="newPricePopup">@Model.Price&#1056;</div>
                                    <div class="oldPrice">@Model.PriceWithoutSales&#1056;</div>
                                }
                                else
                                {
                                    <div class="newPriceWithoutSalePopup">@Model.Price&#1056;</div>
                                }

                            </div>
                        <input type="number" name="Id" value="@Model.Id" style="display:none">
                        @if (Model.Category != "gift")
                        {
                            <div class="chooseSize AdaptiveDisplay displayNone">Выберите размер</div>

                            <div class="radio AdaptiveDisplay displayNone">
                                <label>
                                    <input class="radioFade" type="radio" name="size" value="XS-S"> <span>XS-S</span>
                                </label>
                                <label>
                                    <input class="radioFade" type="radio" name="size" value="M"><span style="padding:5px 16px !important;">M</span>
                                </label>
                                <label>
                                    <input class="radioFade" type="radio" name="size" value="L"><span style="padding:5px 16px !important;">L</span>
                                </label>
                            </div>
                            <a class="PopupPazmer">Размерная сетка </a>
                        }
                        <div class="animate">
                            <button class="btn btn-add addToCart AddPopup" type="submit">ДОБАВИТЬ В КОРЗИНУ</button>
                            <a class="btn btn-add goToCart popup-cart-open AddPopup" href="/Cart/Cart">ПЕРЕЙТИ В КОРЗИНУ</a>
                            @*<a class="btn btn-add addToCart" type="submit">ДОБАВИТЬ В КОРЗИНУ</a>*@
                            <div class="paket"><img src="~/images/Корзина/paket.png" alt="покупка"></div>
                        </div>


                    </div>
                    <div class="info Display">
                        <h1 class="info_title ">@Model.Name</h1>
                        <div class="info-text">
                            <div class="info_text_item">
                                @switch (Model.Category)
                                {
                                    case "флис":<img class="pointer" src="~/images/point.png" alt="Пункт"><div class="info_text_text">Материал: флис </div> break;
                                    case "gift": <ul class="delivery_ul" style="margin-left: 12px; "> <li class="delivery_line"><scan style="font-weight:600;">Добавь</scan> подарочную упаковку в свой заказ! Тогда сюрприз порадует её ещё больше!</li> <li class="delivery_line">Подарочная упаковка отлично @Html.Raw(Model.Info)</li> @*<li class="delivery_line">Добавь подарочную упаковку в свой заказ! Тогда сюрприз порадует её ещё больше!</li>*@</ul>break;
                                default: <img class="pointer" src="~/images/point.png" alt="Пункт"> <div class="info_text_text">Материал: шёлк Армани </div>break;
                            }

                            </div>

                            @switch (Model.Category)
                            {
                                case "флис":
                                    <div class="info_text_item">
                                        <img class="pointer" src="~/images/point.png" alt="Пункт 2">
                                        <div class="info_text_text">Размерная сетка </div>
                                    </div>
                                    <div class="info_table"><img src="~/images/PhlisPazmer2.PNG" alt="Размерная сетка2"></div> break;
                                case "gift":
                                    <div class="info_text_item">
                                        <ul class="delivery_ul" style="margin-left: 12px; ">  <li class="delivery_line">Размер: @Model.Info2</li> @*<li class="delivery_line">Добавь подарочную упаковку в свой заказ! Тогда сюрприз порадует её ещё больше!</li>*@</ul>
                                    </div>
                                    break;
                                default:
                                    <div class="info_text_item">
                                        <img class="pointer" src="~/images/point.png" alt="Пункт 2">
                                        <div class="info_text_text">Размерная сетка </div>
                                    </div>
                                    <div class="info_table"><img src="~/images/pazmer.jpg" alt="Размерная сетка"></div>break;
                            }
                            <input type="number" name="Id" value="@Model.Id" style="display:none">
                            @if (Model.Category != "gift")
                            {
                                <div class="chooseSize">Выберите размер</div>

                                <div class="radio">
                                    <label>
                                        <input class="radioFade" type="radio" name="size" value="XS-S"> <span>XS-S</span>
                                    </label>
                                    <label>
                                        <input class="radioFade" type="radio" name="size" value="M"><span style="padding:5px 16px !important;">M</span>
                                    </label>
                                    <label>
                                        <input class="radioFade" type="radio" name="size" value="L"><span style="padding:5px 16px !important;">L</span>
                                    </label>
                                </div>


                            }
                        </div>
                    </div>
                    <div class="info-text">@Html.Raw(Model.DescriptionPopup)</div>
                    <div class="info AdaptiveDisplay displayNone">
                        <div class="info-text">
                            @*<div class="info_text_item">

                                @switch (Model.Category)
                                {
                                    case "флис":<img class="pointer" src="~/images/point.png" alt="Пункт"><div class="info_text_text">Материал: флис </div> break;
                                    case "gift": <ul class="delivery_ul" style="margin-left: 12px; "> <li class="delivery_line"><scan style="font-weight:600;">Добавь</scan> подарочную упаковку в свой заказ! Тогда сюрприз порадует её ещё больше!</li> <li class="delivery_line">Подарочная упаковка отлично @Html.Raw(Model.Info)</li> </ul>break;
                                default: <img class="pointer" src="~/images/point.png" alt="Пункт"> <div class="info_text_text">Материал: шёлк Армани </div>break;
                            }
                            </div>*@
                            @switch (Model.Category)
                            {
                                case "флис":
                                    @*<div class="info_text_item">
                            <img class="pointer" src="~/images/point.png" alt="Пункт 2">
                            <div class="info_text_text">Размерная сетка </div>
                        </div>
                        <div class="info_table"><img src="~/images/PhlisPazmerPhone.png" alt="Размерная сетка2"></div>*@ break;
                                case "gift":
                                    <div class="info_text_item">
                                        <ul class="delivery_ul" style="margin-left: 12px; ">  <li class="delivery_line">Размер: @Model.Info2</li></ul>
                                    </div>
                                    break;
                                default:

                                    @*<div class="info_text_item">
                            <img class="pointer" src="~/images/point.png" alt="Пункт 2">
                            <div class="info_text_text">Размерная сетка </div>
                        </div>
                        <div class="info_table"><img src="~/images/pazmerPhone.jpg" alt="Размерная сетка"></div>*@break;
                            }

                        </div>
                    </div>
                </div>
            </div>
            @*</div>*@
            @*</div>*@
        </form>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>


    <script type="text/javascript">
        $(".PopupPazmer").click(function (e) {
            e.preventDefault();
            //var url = "/Cart/AddToCart/";  свяжется с вами в течение      3 минут
            $.get("/home/ModalText?text=размерная сетка&id=размерная сетка", function (data) {
                $('#dialogContentpopupModalText').html(data);
                $('.popup-ModalText').fadeIn();
            });

            //return true;
        });
    </script>

    @if (Model.Category != "gift")
    {
        <script>
            $("#popupFadeForm").submit(function (e) {
                e.preventDefault();
                flag = 0;
                $('input[type=radio]').each(function () {
                    if ($(this).prop('checked') && $(this).hasClass("radioFade")) {
                        flag = 1;
                    }
                });
                if (flag == 1) {
                    var url = "/Cart/AddToCart/";

                    $.ajax({
                        type: "GET",
                        url: url,
                        data: $("#popupFadeForm").serialize(),
                    });

                    var that = $(".btn-add").closest('.animate').find('img');
                    var bascket = $(".korzina");
                    var w = that.width();
                    that.clone().css({
                        'width': w
                        , 'position': 'absolute'
                        , 'z-index': '9999'
                        , top: that.offset().top
                        , left: that.offset().left
                    }).appendTo("body").animate({
                        opacity: 0.1
                        , left: bascket.offset()['left']
                        , top: bascket.offset()['top']
                        , width: 20
                    }, 1500, function () {
                        $(this).remove();
                    });
                }//if
                else {
                    //$(".chooseSize").addClass("textRed");
                    $.get("/home/modaltext/", function (data) {
                        $('#dialogContentpopupModalText').html(data);
                        $('.popup-ModalText').fadeIn();
                    });
                }
            });

        </script>
    }
    else
    {
        <script>
            $("#popupFadeForm").submit(function (e) {
                e.preventDefault();

                var url = "/Cart/AddToCart/";

                $.ajax({
                    type: "GET",
                    url: url,
                    data: $("#popupFadeForm").serialize(),
                });

                var that = $(".btn-add").closest('.animate').find('img');
                var bascket = $(".korzina");
                var w = that.width();
                that.clone().css({
                    'width': w
                    , 'position': 'absolute'
                    , 'z-index': '9999'
                    , top: that.offset().top
                    , left: that.offset().left
                }).appendTo("body").animate({
                    opacity: 0.1
                    , left: bascket.offset()['left']
                    , top: bascket.offset()['top']
                    , width: 20
                }, 1500, function () {
                    $(this).remove();
                });

            });

        </script>
    }



    <script>
        $(document).ready(function ($) {
            $('.popup-cart-open').click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContentpopupCart').html(data);
                    $('.popup-cart').fadeIn();
                    $('.popup-fade').fadeOut();
                });
                //document.body.style.overflow = "hidden";
                return false;
            });
            $('.popup-cart-close').click(function () {
                $(this).parents('.popup-cart').fadeOut();
                document.body.style.overflow = "auto";
                return false;
            });
            $(document).keydown(function (e) {
                if (e.keyCode === 27) {
                    e.stopPropagation();
                    $('.popup-cart').fadeOut();
                }
            });
            $('.popup-cart').click(function (e) {
                if ($(e.target).closest('.cart').length == 0) {
                    $(this).fadeOut();
                }
            });
        });
    </script>


    @*изменить структуру для телефона*@
    <script type="text/javascript">
        if (innerWidth < 420) {
            $(".Display").toggleClass("displayNone"); //addClass("displayNone"); // .toggleClass("displayNone");
            $(".GoCatalog").toggleClass("displayNone");
            $(".AdaptiveDisplay").toggleClass("displayNone"); //.remove("displayNone"); //.toggleClass("displayNone");

            // $(".popup").toggleClass("overflow2");
            //$(".popup").addClass("overflow2");
            $(".info-text").css('margin-top', '20px');
        }
    </script>

    @*модальное окно выберите размер (закрыть)*@
    <script>

        $(document).ready(function ($) {

            $('.ModalText-close').click(function () {
                $(this).parents('.popup-ModalText').fadeOut();
                return false;
            });
            $(document).keydown(function (e) {
                if (e.keyCode === 27) {
                    e.stopPropagation();
                    $('.popup-ModalText').fadeOut();
                }
            });
            $('.popup-ModalText').click(function (e) {
                if ($(e.target).closest('.ModalText').length == 0) {
                    $(this).fadeOut();
                }
            });
        });
    </script>

    @*@if (!string.IsNullOrEmpty(Model.Image2Address))
        {
            <script>
                //document.addEventListener("DOMContentLoaded", function (event) {
                $(document).ready(function ($) {

                    $.get("/home/GetPicturesSlick/@Model.Id", function (data) {
                        $('.PictureSlickDisplay').addClass('displayNone');
                        $('#SlickInModal').html(data);
                    });
                });
            </script>
        }*@

    @*открытие второй картинки*@

    <script>
        $(document).ready(function ($) {
            $('.pictureSecond').click(function (e) {
                // $(this).closest('div').toggleClass('displayNone')
                $('.First').toggleClass('displayNone');
                $('.Second').toggleClass('displayNone');
            });
        });
    </script>


    @*увеличение и уменьшение картинки*@
    <script>
        $(document).ready(function ($) {
            if (innerWidth > 420) {
                $('.picture').click(function (e) {
                    $(this).toggleClass('Zoom-out');
                    //$('.First').toggleClass('displayNone');
                    //$('.Second').toggleClass('displayNone');
                });
            }
        });
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57702916, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57702916" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</body>
</html>
