@model List<Domain.Order>
@{
    ViewData["Title"] = "IndexOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel-heading">
    <h3>Список товаров</h3>
</div>
<div class="panel-body">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-right">ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th class="text-right">Город</th>
            <th class="text-center">Телефон</th>
            <th class="text-right">Адрес</th>
            <th class="text-center">Сумма</th>
        </tr>
        @try
        {
            @*@foreach (var item in Model)*@
            @for (int i = Model.Count; i > 0; i--)
            {
                <tr>
                    <td class="text-right">@Model[i].Id</td>
                    <td>@Html.ActionLink(Model[i].Name, "Edit", new { Model[i].Id })</td>
                    <td class="text-right">@Model[i].Surname</td>
                    <td class="text-right">@Model[i].City</td>
                    <td class="text-right">@Model[i].Phone</td>
                    <td class="text-right">@Model[i].Adress</td>
                    <td class="text-center">@Model[i].Amount.ToString("# руб") </td>
                </tr>
            }
        }
        catch (Exception ex)
        {
        }
    </table>
</div>